*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}
:root{
  --color-blue:#0F66AE;
  --color-grey:rgb(129, 129, 129);
  --color-description:rgb(245, 245, 245);
  --container-width: 502px;
  --font-small: 13px;
  --color-light-grey:rgb(201, 201, 201);
}
h3, h5{
  display: inline-block;
}
section{
  width: 1000px;
  height: 900px;
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: var(--color-blue);
  margin: auto;
  padding: 20px;
  position: relative;
}
.container{
  width: var(--container-width);
  margin-top: 30px;
  margin-left: 30px;
}
.blue{
  color: var(--color-blue);
}
.for_free{
  display: flex;
}
.logo{
  width: 150px;
  height: 50px;
  position: absolute;
  left: 806px;
}
h1{
  font-size: 50px;
}
.btn-announce > h3{
  color: var(--color-grey);
  margin-top: 20px;
  margin-bottom: 50px;
}
.sign-usage-container{
  display: flex;
  justify-content: space-between;
}
.warning{
  color: red;
}
#usage-description{
  margin-top: 20px;
  height: 80px;
  overflow: scroll;
  background-color:var(--color-description);
  border-radius: 5px;
  padding : 13px;
  margin-bottom: 40px;
  font-size: var(--font-small);
}
#privacy-description{
  margin-top: 20px;
  height: 300px;
  background-color:var(--color-description);
  border-radius: 5px;
  padding : 13px;
  margin-bottom: 40px;
  font-size: var(--font-small);
}
.agree-not{
  font-size: var(--font-small);
}
#usage-table{
  margin: 20px 10px;
}
.category, .purpose, .date{
  display: flex;
}
.category{
  border-top: solid 0.1px var(--color-blue);
  height: 60px;
}
.purpose, .date{
  height: 30px;
}
.title{
  width: 120px;
  background-color: var(--color-light-grey);

}
.content{
  text-align: left;
  width: 336px;
}

.library{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 60%;
  left: 60%;
}
.allow, .info-link{
  width: 100px;
  height: 100px;
  background-color: var(--color-blue);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
}
.info-link{
  margin-left: 40px;
}